.box {
	margin: 50px auto 50px auto;
}

h1 {
	font-family: sans-serif;
	font-size: 50px;
	margin-bottom: 50px;
}

#myNavbar {
	font-size: 18px;
}

#aboutme {
	background-color: orange;
	padding-bottom: 35px;
}

#aboutme p {
	font-size: 22px;
	max-width: 80%;
}

#me {
	height: 100%;
	width: 100%;
}

#projects {
	background-color: cyan;
}

#contact {
	background-color: lightgreen;
}

#contact a {
	font-size: 22px;
	color: black;
}

#contact i {
	color: green;
}